<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  
      <ion-title>Conversas</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <div class="container top" >
      <img src="/assets/IMG/logo.png">
      <ion-slide>
        <div class="slide-inner">
          <ion-button class="ion-margin-top"  [routerLink]="['/perfil-contratante']" color="" expand="block">José</ion-button>
  
          <ion-button class="ion-margin-top"  [routerLink]="['/perfil-contratante']" color="" expand="block">Ana</ion-button>

          <ion-button class="ion-margin-top"  [routerLink]="['/perfil-contratante']" color="" expand="block">Marta</ion-button>
  
          <ion-button class="ion-margin-top"  [routerLink]="['/perfil-contratante']" color="" expand="block">Maria</ion-button>
  
        </div>
      </ion-slide>
    </div>
  </ion-content>