ion-content {
    --overflow: hidden;
}
.container {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 1% auto;
    width: 75%;
    
    &.top {
        top: 0%;
    }
}

ion-slide{
    
    height: 100%;
    background-color: #24A9E1;
    border-radius: 10px;
    
    .slide-inner{
        width: 75%;
        color: #fff;
        
        border-radius: 10px;
    }

    ion-button{
        --background: rgba(169, 225, 36, 0.5);
        border-radius: 10px;
        margin-bottom: 8%;
    }

    ion-item{
        
        --background: rgba(255,255,255,0.3);
        border-radius: 10px;
        color: #fff;
    }

    ion-input {
        text-align: center;
    }

}

    
